.bg-pink {
  background-color: #ffc0cb;
}
.pink-card {
  min-width: min-content !important;
  .list-group-item {
    color: rgb(194, 62, 117);
    font-size: large;
    font-family: sans-serif;
  }
}
.card-header {
  font-size: x-large;
  font-family: monospace;
}
.done {
  text-decoration: 2px line-through rgb(194, 62, 117);
  color: rgba(194, 62, 117, 0.521);
}
// .card-header {
//   max-width: 30rem !important;
// }
